<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood History</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="mood-history-section">
    <h1>{{ username }}'s Yearly Mood Review</h1>
    
    <div>
        {{ chart_html | safe }}
    </div>
</div>
<a href="{{ url_for('mood_recognition') }}">← Back to Dashboard</a>

</body>
</html>